color-bgr           = #141414;
color-txt           = #a9a59b;
color-link          = #e4b24e;
color-link-current  = #748d96;
font-family-default = Raleway, sans-serif;
font-family-accent  = Cormorant, serif;
